<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/clientes.css">
    <script src="/js/inicio/menu.js"></script>
    <script src="/js/facturacion/clientes.js"></script>
</head>
<body>
<header  id="menu"></header>
<div class = "centered">
    <div class="btn-container">
        <input id="salirCliente" class="btn btn-primary" type="button" value="Salir">
    </div>
    <div style="overflow-y: auto; max-height: 300px;">
        <table class='container'>
            <thead>
            <tr >
                <th >Id</th>
                <th >Nombre</th>
                <th >...</th>
            </tr>
            </thead>
            <tbody class='container' id='listClientes'>
            </tbody>
        </table>
    </div>
</div>
<footer  class = "bg-dark text-center text-white fixed-bottom" id="piePagina"></footer>

</body>
</html>
