<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facturacion</title>
    <link rel="stylesheet"   href="/css/bootstrap.min.css">
<!--    <link rel="stylesheet"   href="/css/home.css">-->
    <link rel="stylesheet"   href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>
<body>
<!--barra de Navegacion-->
<header id="menu"></header>

<!--Contenido-->
<div id = "root" class="container-home">
<!--    <p>Página de inicio aquí se puede escribir lo que se quiera</p>-->
</div>

<footer class = "bg-dark text-center text-white fixed-bottom" id="piePagina"></footer>

<script src="/js/inicio/menu.js"> </script>
<script src="/js/inicio/inicioLogin.js"> </script>


</body>
</html>