.centered {
    margin: 0 auto;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2;
}

button {
    width: auto;
    margin-bottom: 10px;
}

.btn-container {
    margin-bottom: 20px;
}
