<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/datos.css">

    <script src="/js/inicio/menu.js"></script>
    <script src="/js/proveedor/datos.js"></script>
</head>
<body>
<!--barra de Navegacion-->
<header id="menu"></header>

<div id='root'></div>

<footer  class = "bg-dark text-center text-white fixed-bottom" id="piePagina"></footer>
</body>
</html>